@if (TempData["TestQuestion"] != null)
{
    int QNo = 1;
    @foreach (var i in (List<EasySystemAPI.Models.Question_Story>)TempData["TestQuestion"])
    {
        <form class="formData">

            <div class="TestData">
                <div class="row">
                    <div class="col-md-12">
                        <p><b>@QNo: @i.qQuestion</b></p>
                        <input type="hidden" value="@i.qId" id="qId" name="optionsRadios">
                        <input type="hidden" value="@i.qCategory" id="qCatId" name="optionsRadios">
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox pull-left">
                            <label>
                                <input type="radio" value="qOpt1" id="Op1" name="optionsRadios">
                                A: @i.qOpt1
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox pull-left">
                            <label>

                                <input type="radio" value="qOpt2" id="Op2" name="optionsRadios">
                                B: @i.qOpt2
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox pull-left">
                            <label>

                                <input type="radio" value="qOpt3" id="Op3" name="optionsRadios">
                                C: @i.qOpt3
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox pull-left">
                            <label>

                                <input type="radio" value="qOpt4" id="Op4" name="optionsRadios">
                                D: @i.qOpt4
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        QNo = QNo + 1;
        <hr />
    }

    <div class="row">
        <button type="button" id="btnSubmit" class="btn btn-info" style="background-color:#1b3767">Submit</button>
    </div>

}
else
{
    @if (TempData["Info"] != null)
    {
        <div role="alert" class="alert alert-info">
            <strong><i class="fa fa-info-circle"></i></strong>
            @TempData["Info"].
        </div>
    }
    
    <a asp-action="Certification" asp-controller="My" class="btn btn-info" style="background-color:#1b3767">Go back</a>
}


<link rel="stylesheet" href="~/css/sweetalert.css">
<script src="~/js/sweetalert.js"></script>

<script type="text/javascript">

    function getAllDetails() {
        var data = [];

        $('.TestData').each(function () {
            var Id = $(this).find("#qId").val();
            var CId = $(this).find("#qCatId").val();
            var Opt1 = $(this).find("#Op1:checked").val();
            var Opt2 = $(this).find("#Op2:checked").val();
            var Opt3 = $(this).find("#Op3:checked").val();
            var Opt4 = $(this).find("#Op4:checked").val();
            var alldata = {
                'qId': Id,
                'CatId': CId,
                'Opt1': Opt1,
                'Opt2': Opt2,
                'Opt3': Opt3,
                'Opt4': Opt4,
                }
            data.push(alldata);

        });
        return data;
    }

    $("#btnSubmit").click(function (e) {

         swal({
            title: "Confimation",
            text: "Are you sure you want to submit the test?",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
         },
             function (isConfirm) {
             if(isConfirm) {

            var stId = $("#StId").val();
            var caId = $("#qCatId").val();
            var data = JSON.stringify(getAllDetails());
            $.ajax({
            url: "@Url.Action("AddTestResult", "My")",
            type: "Post",
            datatype: 'json',
            //contentType: 'application/json; charset=utf-8',
            data: { StId: stId, cId: caId, AccDetails: data },

                success: function (response)
                {
                    if (response.Result == "Passed") {
                        swal({
                            title: "Passed!",
                            text: "" + response.responseText + "",
                            type: "success",
                        }, function (value) {
                            window.location = '/My/Certification';
                        });
                    } else {
                        swal({
                            title: "Failed!",
                            text: "" + response.responseText + "",
                            type: "error",
                        }, function (value) {
                            window.location = '/My/Certification';
                        });
                    }
                },
            error: function (e) {
                alert("Error " + e + "");

            }
        });
        }

        });
    });
</script>

<script>
    function pageRedirect() {
        window.location = '/My/Certification';
    }
</script>

<script type="text/javascript">

    @*function getAllDetails() {
        var data = [];

        $('.TestData').each(function () {
            var Id = $(this).find("#qId").val();
            var CId = $(this).find("#qCatId").val();
            var Opt1 = $(this).find("#Op1:checked").val();
            var Opt2 = $(this).find("#Op2:checked").val();
            var Opt3 = $(this).find("#Op3:checked").val();
            var Opt4 = $(this).find("#Op4:checked").val();
            var alldata = {
                'qId': Id,
                'CatId': CId,
                'Opt1': Opt1,
                'Opt2': Opt2,
                'Opt3': Opt3,
                'Opt4': Opt4,
                }
            data.push(alldata);

        });
        return data;
    }
    $("#btnSubmit").click(function (e) {


        var MSG = confirm("Are you sure you want to submit the test?");
        if (MSG)
        {
            var stId = $("#StId").val();
        var caId = $("#qCatId").val();
        var data = JSON.stringify(getAllDetails());
        $.ajax({
            url: "@Url.Action("AddTestResult", "My")",
            type: "Post",
            datatype: 'json',
            //contentType: 'application/json; charset=utf-8',
            data: { StId: stId, cId: caId, AccDetails: data },

            success: function (response) {
                {
                    alert(response.responseText);
                    function pageRedirect() {
                        window.location = '/My/Certification';
                    }
                    setTimeout(pageRedirect(), 5000);
                }
            },
            error: function (e) {
                alert("Error " + e + "");

            }
        });
        }

    });*@
</script>