
@{
    ViewData["Title"] = "Certification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="panel-content">
        <div class="main-title-sec">
            <div class="row">
                <div class="col-md-3 column">
                    <div class="heading-profile">
                        <h2>My Certificates</h2>
                        <div id="Notifocation">

                            @if (TempData["Info"] != null)
                            {
                                <div role="alert" class="alert alert-info">
                                    <strong><i class="fa fa-info-circle"></i></strong>
                                    @TempData["Info"].
                                </div>
                            }
                            @if (TempData["Success"] != null)
                            {
                                <div role="alert" class="alert alert-success">
                                    <strong><i class="fa fa-thumbs-o-up"></i></strong>
                                    @TempData["Success"].
                                </div>
                            }
                            @if (TempData["Error"] != null)
                            {
                                <div role="alert" class="alert alert-danger">
                                    <strong><i class="fa fa-thumbs-o-down"></i></strong>
                                    @TempData["Error"].
                                </div>
                            }

                        </div>

                        <input type="hidden" id="Val" value="0" />
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-area">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget white with-padding">

                        <div class="row">
                            @if (TempData["Passed"] != null)
                            {
                                <div class="col-md-7">
                                    <div class="widget white">
                                        <div class="panel panel-default work-progress-table">
                                            <div class="panel-heading">Passed</div>
                                            <table id="List" class="table-striped table-responsive-md footable table" data-page-size="5" data-filter=#filter>
                                                <theader>
                                                    @foreach (var i in (List<EasySystem.Models.CertificateVM>)TempData["Passed"])
                                                    {

                                                        <tr>
                                                            <th>@i.StName</th>
                                                            <th>@i.ucNumber</th>
                                                            <th>@i.ucDate.ToString("dd-MMM-yyyy")</th>
                                                            <th>
                                                                @*<a title="" asp-controller="My" asp-action="GetCertificate" asp-route-Num="@i.ucNumber"> View</a>*@
                                                                <a asp-controller="My" asp-action="GetCertificate" asp-route-Num="@i.ucNumber" class="btn btn-primary mini" style="background-color:#1b3767">
                                                                    <i class="fa fa-eye"></i> View
                                                                </a>
                                                            </th>
                                                        </tr>
                                                    }
                                                </theader>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="9">
                                                            <ul class="pagination pull-right"></ul>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (TempData["Failed"] != null)
                            {
                                <div class="col-md-5">
                                    <div class="widget white">
                                        <div class="panel panel-default work-progress-table">
                                            <div class="panel-heading">Failed</div>
                                            <table id="List1" class="table-striped table-responsive-md footable table" data-page-size="5" data-filter=#filter>
                                                <theader>
                                                    @foreach (var i in (List<EasySystem.Models.CertificateVM>)TempData["Failed"])
                                                    {

                                                        <tr>
                                                            <th>@i.StName</th>
                                                            <th>@i.uqrDate.ToString("dd-MMM-yyyy")</th>
                                                        </tr>

                                                    }
                                                </theader>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="9">
                                                            <ul class="pagination pull-right"></ul>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <br />
                        @if (TempData["Passed"] != null || TempData["Failed"] != null)
                        {
                            <h4>If you want to get more ceritificate then select anyone category from below</h4>
                        }
                        else
                        {
                            <h4>If you want to get ceritificate then select anyone category from below</h4>
                        }

                        <div class="row">
                            <div id="SkillsData">

                            </div>
                        </div>


                        <br />
                        <button type="button" id="more" class="btn btn-info" style="background-color: #1b3767; margin-top: 10px;">Load More</button>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Panel Content -->
</div>

<div class="modal fade" id="TestModal">
    <div class="modal-lg modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Select Skill</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modelContent">

                <div id="Data">

                </div>

                <button type="button" id="moreSkill" class="btn btn-info" style="background-color:#1b3767; margin-top:10px;">Load More</button>
            </div>



            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        GetData();
    });
</script>

<script>
    $("#more").click(function () {
        GetData();
    });
</script>


<script>
 function GetData() {
            var count = $("#Val").val();
             $("#more").html('<i class="fa fa-spinner fa-spin"></i>  Working...');
             $('#more').attr('disabled', true);
            $.ajax(
                {
                    url: "@Url.Action("_SkillData", "My")",
                    data: { Value: count },
                    type: "Get",
                    dataType: "html",
                    async: "true",
                    cache: "false",
                    success: function (data) {
                        //Whatever result you have got from your controller with html partial view replace with a specific html.
                        // HTML DOM replace
                        if (data !== "") {
                            var newC = 20;
                            var newCount = parseInt(newC) + parseInt(count);
                            $("#Val").val(newCount);
                            $("#SkillsData").append(data);
                            $("#more").html('Load More');
                            $('#more').attr('disabled', false);
                        } else {
                            $("#more").html('<i class="fa fa-flag-checkered"></i>  No more recod found');
                            $('#more').attr('disabled', true);
                        }
                    },

                    Error: function () {
                        alert("Some error");
                    }
                });
        }
</script>



<script>
    function createModal(url) {
        $("#moreSkill").html('Load');
        $('#moreSkill').attr('disabled', false);
        $('#Data').load(url);
        $('#TestModal').modal('show');
    }
</script>



<script>
    $("#moreSkill").click(function () {
        GetSkillData();
    });
</script>


<script>
    function GetSkillData() {
        var count = $("#SkillVal").val();
        var sId = $("#Id").val();
        $("#moreSkill").html('<i class="fa fa-spinner fa-spin"></i>  Working...');
        $('#moreSkill').attr('disabled', true);
            $.ajax(
                {
                    url: "@Url.Action("_TestSkillData", "My")",
                    data: { Value: count, Id: sId },
                    type: "Get",
                    dataType: "html",
                    async: "true",
                    cache: "false",
                    success: function (data) {
                        //Whatever result you have got from your controller with html partial view replace with a specific html.
                        // HTML DOM replace

                        if (data !== "") {
                            var newC = 12;
                            var newCount = parseInt(newC) + parseInt(count);
                            $("#SkillVal").val(newCount);
                            $("#Data").append(data);
                            $("#moreSkill").html('Load More');
                            $('#moreSkill').attr('disabled', false);

                        } else {

                            //$("#moreSkill").html('<i class="fa fa-flag-checkered"></i>  No record found');
                            //$('#moreSkill').attr('disabled', true);

                            if (count == 12) {
                                $("#moreSkill").html('<i class="fa fa-flag-checkered"></i>  No record found');
                                $('#moreSkill').attr('disabled', true);
                                $("#SkillVal").val('0');
                            } else if (count > 12) {
                                $("#moreSkill").html('<i class="fa fa-flag-checkered"></i>  No more record found');
                                $('#moreSkill').attr('disabled', true);
                                $("#SkillVal").val('0');
                            } else {
                                $("#moreSkill").html('<i class="fa fa-flag-checkered"></i> No record found');
                                $('#moreSkill').attr('disabled', true);
                                $("#SkillVal").val('0');
                            }
                        }
                    },

                    Error: function () {
                        alert("Some error");
                    }
                });
        }
</script>