@model EasySystem.Models.UserSkills
@{
    ViewData["Title"] = "Edit_Skills";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        .chosen-single {
            height: 35px !important;
        }
    </style>

<div class="main-content">
    <div class="panel-content">
        <div class="main-title-sec">
            <div class="row">
                <div class="col-md-3 column">
                    <div class="heading-profile">
                        <h2>Update Skills Info</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content-area">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        @if (TempData["Info"] != null)
                        {
                            <div role="alert" class="alert alert-info">
                                <strong><i class="fa fa-info-circle"></i></strong>
                                @TempData["Info"].
                            </div>
                        }
                        @if (TempData["Success"] != null)
                        {
                            <div role="alert" class="alert alert-success">
                                <strong><i class="fa fa-thumbs-o-up"></i></strong>
                                @TempData["Success"].
                            </div>
                        }
                        @if (TempData["Error"] != null)
                        {
                            <div role="alert" class="alert alert-danger">
                                <strong><i class="fa fa-thumbs-o-down"></i></strong>
                                @TempData["Error"].
                            </div>
                        }
                    </p>
                    <div class="row">
                        <div class="widget white with-padding">
                            <form asp-action="EditSkills" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail2">Skill Name</label>
                                            @Html.DropDownList("StId", (SelectList)ViewData["Skills"], "...Select Skill...",
                                          new { @id = "StId", required = "required", size = "1", @class = "form-control chosen-select", @onchange = "GetDetail(this.value)" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail2">Skill Level (Out of Ten)</label>
                                            <select class="form-control" asp-for="usLevel">
                                                @for (var i = 10; i >= 1; i--)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword2">Skill Detail</label>
                                    <textarea asp-for="usDetail" id="skillDetail" placeholder="Enter Skill Detail" class="form-control" rows="9"></textarea>
                                    <input type="hidden" asp-for="usId" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-info" style="background-color:#1b3767">Update</button>
                                <a asp-controller="My" asp-action="Skills" class="btn btn-info" style="background-color:#1b3767">Cancel</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Panel Content -->
</div>



<link href="~/css/chosen.css" rel="stylesheet" />
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/chosen.jquery.js"></script>



<script>
    $('.chosen-select').chosen();
</script>


<script type="text/javascript">
    function GetDetail(val) {
        var dropdownValue = val; //Ye DropDown ki iD get kry ga
        if (dropdownValue !== "" || dropdownValue !== null) {
            $.ajax({
                type: 'GET',
                url: 'https://api.leskills.com/api/My/GeSkillDetail?val=' + dropdownValue,
                //url: 'http://localhost:54383/api/My/GeSkillDetail?val=' + dropdownValue,

                dataType: 'json',
                success: function (data) {
                    if (data.Success === "true") {
                        $("#skillDetail").val(data.Data.GenName);   // Jo Vlaue ye Controller se lay ga us ko StudentName textbox me insert krwaa k StudentName Textboxko readonly kr de ga
                    } else {
                        $("#skillDetail").val('');
                    }
                },
                error: function (error) {
                    console.log(error);
                    $("#skillDetail").val('');
                }

            });
        } else {
            $("#skillDetail").val('');
        }
    };

</script>