
@{
    ViewData["Title"] = "My_Lost_Trainees";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int SrNo = 1;
}

<div class="main-content">
    <div class="panel-content">
        <div class="main-title-sec">
            <div class="row">
                <div class="col-md-3 column">
                    <div class="heading-profile">
                        <h2>My Lost Trainees</h2>
                        <div id="Notifocation">

                            @if (TempData["Info"] != null)
                            {
                                <div role="alert" class="alert alert-info">
                                    <strong><i class="fa fa-info-circle"></i></strong>
                                    @TempData["Info"].
                                </div>
                            }
                            @if (TempData["Success"] != null)
                            {
                                <div role="alert" class="alert alert-success">
                                    <strong><i class="fa fa-thumbs-o-up"></i></strong>
                                    @TempData["Success"].
                                </div>
                            }
                            @if (TempData["Error"] != null)
                            {
                                <div role="alert" class="alert alert-danger">
                                    <strong><i class="fa fa-thumbs-o-down"></i></strong>
                                    @TempData["Error"].
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-area">
            <div class="row">
                @if (TempData["LostTraniee"] != null)
                {
                    <div class="col-md-12">
                        <div class="row">
                            <div class="widget white">
                                <div class="form-group" hidden>
                                    &nbsp;
                                    <div class="col-md-3">
                                        <input type="text" id="Input" onkeyup="myFunction()" placeholder="Search for.... " class="form-control" title="Type in a name">

                                    </div>
                                </div>
                                <table id="List" class="table-striped table-responsive-md footable table" data-page-size="5" data-filter=#filter>
                                    <thead>
                                        <tr>
                                            <th>SrNo</th>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Gender</th>
                                            <th>Reason</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var i in (List<EasySystem.Models.LostUser>)TempData["LostTraniee"])
                                        {
                                            <tr>
                                                <td>@SrNo</td>
                                                <td>@i.usrName</td>
                                                <td>@i.usrPhone</td>
                                                <td>@i.usrGender</td>
                                                <td>@i.ultReason</td>
                                            </tr>
                                            SrNo = SrNo + 1;
                                        }

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="9">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </div>
                }

            </div>
            @if (TempData["Page"] != null)
            {
                <span><a asp-controller="Home" asp-action="@TempData["Page"]"><i class="fa fa-mail-reply"></i> Go Back</a></span>

            }
        </div>
    </div>
    <!-- Panel Content -->
</div>