@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var ID = @HttpContextAccessor.HttpContext.Session.GetInt32("ID");
}
@{
    ViewData["Title"] = "Profile";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    var usr = TempData["User"] as EasySystem.Models.Users;
    var mentor = TempData["Mentor"] as EasySystem.Models.Users;
}

@if (TempData["Error"] != null)
{
    <div class="main-content">
        <div class="panel-content">
            <div class="main-title-sec">
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="heading-profile">
                            <div role="alert" class="alert alert-info">
                                <strong><i class="fa fa-info-circle"></i></strong>
                                @TempData["Error"].
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- Panel Content -->
    </div>
}


@if (TempData["User"] != null)
{
    <div class="main-content">
        <div class="panel-content">
            @*<div class="search-dashboard">
                    <div class="responsive-search"> <i class="fa fa-search"></i> </div>
                    <form>
                        <input type="text" id="ProfileSearch" placeholder="enter code or trainee name here">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>*@
            <div class="main-title-sec" hidden>
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="heading-profile">
                            <h2>@usr.usrName's Profile</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content-area">
                <div class="mail-area">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="inbox-nav">
                                <div class="user-mail">
                                    @if (usr.usrImage != null)
                                    {
                                        <span><img src="~/images/ProfilePictures/@usr.usrImage" alt="" /></span>
                                    }
                                    else
                                    {
                                        <span><img src="~/images/Logo-01.png" alt="" /></span>
                                    }
                                    <h5>@usr.usrName</h5>
                                    <h6>Code:<b> @usr.usrCode</b></h6>
                                    <div class="mailer-name">

                                        @if (mentor != null)
                                        {
                                            <h3>Mentor</h3>
                                            <a asp-controller="My" asp-action="Profile" asp-route-id="@mentor.usrId" style="color:darkslategray"><i>@mentor.usrName-@mentor.usrCode</i></a>
                                        }

                                    </div>

                                </div>

                                <div class="mail-labels">
                                    <h3 hidden>@usr.usrName's Info</h3>
                                    <ul>
                                        @if (ID != null)
                                        {
                                            <li><i class="fa fa-envelope-open"></i>  @usr.usrEmail</li>
                                            <li><i class="fa fa-phone-square"></i>  @usr.usrPhone</li>
                                            <li><i class="fa fa-user-circle"></i>  @usr.usrGender</li>
                                            <li><i class="fa fa-star"></i>  @usr.usrStatus</li>
                                            @if (usr.ExpiryDate.Year > 2000)
                                            {
                                                <li><i class="fa fa-calendar-check-o"></i> Fee Valid till: <b>@usr.ExpiryDate.ToString("dd-MMM-yyyy")</b></li>

                                            }

                                            <li><button id="btnProfileLink" class="btn btn-primary mini" type="button" style="background-color:#1b3767"> <i class="fa fa-copy"></i>   Click here to copy profile link</button> <span></span></li>
                                        }
                                        else
                                        {
                                            <li><i class="fa fa-user-circle"></i>  @usr.usrGender</li>
                                            <li><i class="fa fa-star"></i>  @usr.usrStatus</li>
                                        }



                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="widget white no-padding">
                                <div class="widget-tabs">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a class="active" data-toggle="tab" data-target="#tab1">Skills</a></li>
                                        <li class="nav-item"><a data-toggle="tab" data-target="#tab2">Whiteboard</a></li>
                                        <li class="nav-item"><a data-toggle="tab" data-target="#tab3">Certified in</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="tab1" class="tab-pane active fade show">
                                            @if (TempData["UserSkills"] != null)
                                            {
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="widget white">
                                                            <table id="List" class="table-striped table-responsive-md footable table" data-page-size="5" data-filter=#filter>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Skill Name</th>
                                                                        <th>Type</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var i in (List<EasySystem.Models.UserSkillVM>)TempData["UserSkills"])
                                                                    {

                                                                        <tr>
                                                                            <td>@i.StName</td>
                                                                            @if (i.usLevel == 0)
                                                                            {
                                                                                <td>Free</td>
                                                                            }
                                                                            else if (i.usLevel == 1)
                                                                            {
                                                                                <td>Paid</td>
                                                                            }

                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <td colspan="9">
                                                                            <ul class="pagination pull-right"></ul>
                                                                        </td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div id="tab2" class="tab-pane fade">
                                            @if (TempData["UserWhiteBoard"] != null)
                                            {
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="widget white">
                                                            <table id="List1" class="table-striped table-responsive-md footable table" data-page-size="5" data-filter=#filter>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Skill Name</th>
                                                                        <th>Title</th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @foreach (var i in (List<EasySystem.Models.UserWhiteBoardVM>)TempData["UserWhiteBoard"])
                                                                    {
                                                                        <tr>
                                                                            <td>@i.usName</td>
                                                                            <td>@i.uwbName</td>

                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <td colspan="9">
                                                                            <ul class="pagination pull-right"></ul>
                                                                        </td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            }
                                        </div>
                                        <div id="tab3" class="tab-pane fade">
                                            @if (TempData["Passed"] != null)
                                            {
                                                <div class="col-md-7">
                                                    <div class="widget white">
                                                        <div class="panel panel-default work-progress-table">
                                                            <table id="List3" class="table-striped table-responsive-md footable table" data-page-size="5" data-filter=#filter>
                                                                <theader>
                                                                    @foreach (var i in (List<EasySystem.Models.CertificateVM>)TempData["Passed"])
                                                                    {

                                                                        <tr>
                                                                            <td>@i.StName</td>
                                                                            <td>
                                                                                <a asp-controller="My" asp-action="GetCertificate" asp-route-Num="@i.ucNumber" class="btn btn-primary mini" style="background-color:#1b3767">
                                                                                    <i class="fa fa-eye"></i> View
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </theader>
                                                                <tfoot>
                                                                    <tr>
                                                                        <td colspan="9">
                                                                            <ul class="pagination pull-right"></ul>
                                                                        </td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                </div>
                <!-- Mail Area -->
            </div>

            @if (TempData["MyTeam"] != null)
            { }


            <div class="heading-profile">
                <br />
                <h2>@usr.usrName's Blogs</h2>
            </div>
            <input type="hidden" id="Val" value="0" />
            <input type="hidden" id="UsrId" value="@usr.usrId" />
            <input type="hidden" id="ProfileLink" value=" https://universalskills.co/Users/Profile/@usr.usrId" />
            <div id="BlogData">

            </div>

            <div id="load" class="col-md-12 col-sm-6 col-lg-12">
                <div class="cell">
                    <div class="card">
                        <button type="button" id="more" class="btn btn-info" style="background-color:#1b3767">Load More</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- Panel Content -->
    </div>
}




<script src="~/js/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        GetData();
    });
</script>


<script>
    $("#more").click(function () {
        GetData();
    });
</script>


<script>
 function GetData() {
            var count = $("#Val").val();
            var UserId = $("#UsrId").val();
            $("#more").html('<i class="fa fa-spinner fa-spin"></i>  Working...');
             $('#more').attr('disabled', true);
             $('#load').hide();
            $.ajax(
                {
                    url: "@Url.Action("_ProfileBlogData", "Blogs")",
                    data: { Value: count, usId: UserId },
                    type: "Get",
                    dataType: "html",
                    async: "true",
                    cache: "false",
                    success: function (data) {
                        //Whatever result you have got from your controller with html partial view replace with a specific html.
                        // HTML DOM replace
                        if (data !== "") {
                            var newC = 9;
                            var newCount = parseInt(newC) + parseInt(count);
                            $("#Val").val(newCount);
                            $("#BlogData").append(data);
                            $("#more").html('Load More');
                            $('#more').attr('disabled', false);

                        } else {
                            if (count == 0) {
                                $("#more").html('No blogs found');
                                $('#more').attr('disabled', true);
                                $('#load').hide();
                            } else {
                                $("#more").html('<i class="fa fa-flag-checkered"></i>  No more blogs');
                                $('#more').attr('disabled', true);
                            }
                        }
                    },

                    Error: function () {
                        alert("Some error");
                    }
                });
        }
</script>


<script>
    $('#btnProfileLink').click(function () {
        var clipboardText = "";

        clipboardText = $('#ProfileLink').val();

        copyTextToClipboard(clipboardText);
        Command: toastr["success"]("Profile link copied to clipboard successfully. You can share it.")
    });
    function copyTextToClipboard(text) {

        var textArea = document.createElement("textarea");
        textArea.value = text;
        document.body.appendChild(textArea);

        textArea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Copying text command was ' + msg);
        } catch (err) {
            console.log('Oops, unable to copy');
        }

        document.body.removeChild(textArea);
    }

</script>


<script>

    function MentorName() {

        if ($("#ProfileSearch").val().length >= 6) {
            var code = $("#ProfileSearch").val();
            if (code !== null && code !== "") {
                
                $.ajax({
                    type: 'GET',
                    url: 'http://fabricaerp-001-site3.gtempurl.com/api/Users/GetCode?Code=' + code,
                    //url: 'http://sajawal-001-site3.ctempurl.com/api/Users/GetCode?Code=' + code,
                    //url: 'http://localhost:54383/api/Users/GetCode?Code=' + code,

                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        if (data !== "") {
                            window.location = '/Users/Profile/?id=' + data.usrId;
                            //Command: toastr["success"]("" + data.usrName + "")
                        } else {
                            Command: toastr["error"]("No record found against this Mentor Code")
                        }
                    },
                    error: function (error) {
                        console.log(error);
                        Command: toastr["error"]("No record found")
                    }

                });
            }

        } else {
            Command: toastr["warning"]("Please enter 6 digit Mentor Code")
        }
    }

</script>

<script>
    $("#btnSearch").click(function () {
        MentorName();
    });
</script>


<script>

    //$("#ProfileSearch").autocomplete({
    //    source: function (request, response) {
    //        $.ajax({
    //            url: "/My/AutocompleteProfile",
    //            type: "POST",
    //            dataType: "json",
    //            data: { term: request.term },
    //            success: function (data) {
    //                response($.map(data, function (item) {
    //                    return { label: item.usrName, value: item.usrName, id: item.usrId }
    //                    }));
    //            }

    //        });
    //    }
    //});


    @*$("#ProfileSearch").autocomplete({
            source: function(request, response) {
            $.ajax({
              url: '@Url.Action("AutocompleteProfile", "My")',
              data: request,
              dataType: "json",
              type: "get",
              success: function(data){
                  response($.map(data,function(item){
                      return { label: item.usrName, value: item.usrId, id: item.usrId }
                  }));
              }
            });
           },
        });*@





    @*$("#ProfileSearch").autocomplete({
    source: function( request, response ) {
        $.getJSON( '@Url.Action("AutocompleteProfile", "My")', { term: request.term }, function( data, status, xhr ) {
            var titles = $.map( data, function (title) {
                return {
                    label: title.usrName,
                    value: title.usrId
                };
            });
            response( titles );
        });
    },
    // ...
});*@

    @*$("#ProfileSearch").autocomplete({
        source: '@Url.Action("AutocompleteProfile", "My")'
         });*@

    //$("#ProfileSearch").on('focusout', function () {
    //    $.ajax({
    //        url: "/My/AutocompleteProfile",
    //        type: "GET",
    //        dataType: "json",
    //        data: { term: $("#ProfileSearch").val() },
    //        success: function (query) {
    //            $("#ProfileSearch").val(query[0]);
    //        },
    //    });

    //$(function () {
    //    $("#ProfileSearch").autocomplete({
    //        source: function (request, response) {
    //            $.ajax({
    //                url: "/My/AutocompleteProfile",
    //                type: "POST",
    //                dataType: "json",
    //                data: { term: request.term },
    //                success: function (data) {
    //                    response($.map(data, function (item) {
    //                        return { label: item.term, value: item.value }
    //                    }));
    //                },
    //            });
    //        },
    //        delay: 0,
    //        messages: {
    //            noResults: "",
    //            results: function (resultsCount) { }
    //            //results: ""
    //        },
    //    });
    //});
</script>