@model EasySystemAPI.Models.TrainingInfo
@{
    ViewData["Title"] = "Admin Edit Training";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_PublicAdminLayout.cshtml";
}

<div class="container" style="background-color:lavender; margin-bottom:20px">
    <div class="row">

        <div class="col-md-11 col-md-offset-1">
            <h2>Training Detail</h2>

            @using (Html.BeginForm("AdminEditTraining", "Home", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.tiId)
                <div class="row form-group">

                    <div class="col-md-3">
                        <label>Category</label>
                        @Html.DropDownList("ttId", (SelectList)ViewData["TrainingType"], new { required = "required", @class = "form-control" })

                    </div>
                    <div class="col-md-3">
                        <label>Name</label>
                        @Html.EditorFor(model => model.tiName, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                    <div class="col-md-3">
                        <label>Duration</label>
                        @Html.EditorFor(model => model.tiDuration, new { htmlAttributes = new { @class = "form-control" } })


                    </div>
                    <div class="col-md-3">
                        <label>Price</label>
                        @Html.EditorFor(model => model.tiPrice, new { htmlAttributes = new { @class = "form-control" } })

                    </div>

                </div>

                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Price Duration</label>
                        @Html.EditorFor(model => model.tiPriceDuration, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                    <div class="col-md-3">
                        <label>Status</label>
                        @{
                            var list = new List<SelectListItem>();
                            list.Add(new SelectListItem { Text = "Active", Value = "Active" });
                            list.Add(new SelectListItem { Text = "Deactive", Value = "Deactive" });


                        }
                        @Html.DropDownList("tiStatus", @list, new { required = "required", @class = "form-control" })
                    </div>

                </div>


                <div class="row form-group">
                    <div class="col-md-12">
                        <label>Detail</label>
                        <textarea asp-for="tiDetail" placeholder="Enter Skill Detail" class="form-control" rows="9"></textarea>
                    </div>

                </div>


                <div class="row form-group">
                    <div class="col-md-2">
                        <input type="submit" value="Update" class="btn btn-primary">
                    </div>
                    <div class="col-md-2">
                        <a href="~/Home/AdminTraining"> <p class="btn btn-primary">Cancel</p></a>
                    </div>
                </div>
            }


        </div>
    </div>
</div>-

<!-- Script to wire up your TinyMCE editor -->
<script src="~/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    // Initialize your tinyMCE Editor with your preferred options
    // code for rich text box for
    tinyMCE.init({
        // General options
        mode: "textareas",
        theme: "modern",
        // Theme options
        theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: true,

        // Example content CSS (should be your site CSS)
        //content_css: "~/css/main.css",
    });
</script>