@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../../Public/images/img_bg_1.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Best Online Learning System</h1>
                                <p><a href="~/Users/SignUp" class="btn btn-primary btn-lg btn-learn">Join for Free</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../../Public/images/img_bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Online Free Trainings</h1>
                                <p><a href="~/Users/SignUp" class="btn btn-primary btn-lg btn-learn">Join for Free</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../../Public/images/img_bg_3.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Education is a Key to Success</h1>
                                <p><a href="~/Users/SignUp" class="btn btn-primary btn-lg btn-learn">Join for Free</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../../Public/images/img_bg_4.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Best Online Learning Cloud</h1>
                                <p><a href="~/Users/SignUp" class="btn btn-primary btn-lg btn-learn">Join for Free</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="colorlib-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-4 intro-wrap">
                <div class="intro-flex">
                    <div class="one-third color-1 animate-box">
                        <span class="icon"><i class="flaticon-market"></i></span>
                        <div class="desc">
                            <h3>Get Trainings Online</h3>
                            <p><a href="~/Home/Trainings" class="view-more">View More</a></p>
                        </div>
                    </div>
                    <div class="one-third color-2 animate-box">
                        <span class="icon"><i class="flaticon-open-book"></i></span>
                        <div class="desc">
                            <h3>Online Library Store</h3>
                            <p><a href="~/Home/Trainings" class="view-more">View More</a></p>
                        </div>
                    </div>
                    <div class="one-third color-3 animate-box">
                        <div class="desc2">
                            <h3>Free Registration, 100% Free Forever</h3>
                            <p><a href="~/Users/SignUp" class="view-more">Join for Free</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="about-desc animate-box">
                    <h2>Your Training to Success</h2>
                    <p>Build skills with trainings online from world-class trainers. It's time to transform your talent. We’ve got the solution: world-class training and development programs developed by top trainers. All on Universal Skills. </p>
                    <div class="fancy-collapse-panel">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Why choose us?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>Take the next step toward your personal and professional goals with Universal Skills.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    Join now to receive personalized recommendations from the full Universal Skills catalog.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            What we do?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>87% of people learning for professional development report career benefits like getting a promotion, a raise, or starting a new career</p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Offer Services
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>Choose from many options including free trainings and mentors. Learn at your own pace, 100% online.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="colorlib-services">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center animate-box">
                    <div class="services">
                        <span class="icon">
                            <i class="flaticon-book"></i>
                        </span>
                        <div class="desc">
                            <h3>Learn the latest skills</h3>
                            <p>like business analytics, graphic design, Python, and more</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center animate-box">
                    <div class="services">
                        <span class="icon">
                            <i class="flaticon-professor"></i>
                        </span>
                        <div class="desc">
                            <h3>Get ready for a career</h3>
                            <p>in high-demand fields like IT, AI and cloud engineering</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center animate-box">
                    <div class="services">
                        <span class="icon">
                            <i class="flaticon-book"></i>
                        </span>
                        <div class="desc">
                            <h3>Practical Training</h3>
                            <p>from best mentors in world</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center animate-box">
                    <div class="services">
                        <span class="icon">
                            <i class="flaticon-diploma"></i>
                        </span>
                        <div class="desc">
                            <h3>Upskill your organization</h3>
                            <p>with on-demand training and development programs</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="colorlib-counter" class="colorlib-counters" style="background-image: url(../../Public/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-3 col-sm-6 animate-box">
                        <div class="counter-entry">
                            <span class="icon"><i class="flaticon-book"></i></span>
                            <div class="desc">
                                <span class="colorlib-counter js-counter" data-from="0" data-to="1539" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="colorlib-counter-label">Trainings</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 animate-box">
                        <div class="counter-entry">
                            <span class="icon"><i class="flaticon-student"></i></span>
                            <div class="desc">
                                <span class="colorlib-counter js-counter" data-from="0" data-to="3653" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="colorlib-counter-label">Trainees</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 animate-box">
                        <div class="counter-entry">
                            <span class="icon"><i class="flaticon-TRAINERS"></i></span>
                            <div class="desc">
                                <span class="colorlib-counter js-counter" data-from="0" data-to="2300" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="colorlib-counter-label">Trainers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 animate-box">
                        <div class="counter-entry">
                            <span class="icon"><i class="flaticon-earth-globe"></i></span>
                            <div class="desc">
                                <span class="colorlib-counter js-counter" data-from="0" data-to="63" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="colorlib-counter-label">Countries</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="colorlib-Trainings colorlib-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                    <h2>Our Trainings</h2>
                    <p>Take the next step toward your personal and professional goals</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    @if (TempData["List"] != null)
                    {
                        foreach (var i in (IEnumerable<EasySystemAPI.Models.TrainingInfo>)TempData["List"])
                        {
                            <div class="col-md-6 animate-box">

                                <h3>
                                    <a asp-controller="Home" asp-action="TrainingDetail" asp-route-id="@i.tiId">

                                        @i.tiName
                                        @if (@i.tiPrice != 0)
                                        {
                                            @i.tiPrice
                                        }
                                        @if (@i.tiPriceDuration != "null")
                                        {
                                            @i.tiPriceDuration
                                        }

                                       
                                    </a>
                                </h3>
                                <p>
                                    @Html.Raw(i.tiDetail)
                                </p>

                            </div>
                        }
                    }

                </div>

            </div>


            @*<div class="row">
                    <div class="col-md-4 animate-box">
                        <div class="Trainings">
                            <div class="Trainings-img" style="background-image: url(../../wwwroot/Public/images/blog-1.jpg);">

                            </div>
                            <div class="desc">
                                <h3>Everyday Leadership</h3>
                                <p>Learn about the “head and heart” of everyday leadership, individual decision making, group decision making, and managing motivation. The objectives are to understand why and how leadership skills are so critical to organizational success, and learn leadership skills.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 animate-box">
                        <div class="Trainings">
                            <div class="Trainings-img" style="background-image: url(../../Public/images/Trainings-2.jpg);">

                            </div>
                            <div class="desc">
                                <h3>Financial Markets</h3>
                                <p>Emphasis on financially-savvy leadership skills. Description of practices today and analysis of prospects for the future. Introduction to risk management and behavioral finance principles to understand the real-world functioning of securities, insurance, and banking industries.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 animate-box">
                        <div class="Trainings">
                            <div class="Trainings-img" style="background-image: url(../../Public/images/Trainings-3.jpg);">

                            </div>
                            <div class="desc">
                                <h3>Learning How to Learn</h3>
                                <p>Learn about the how the brain uses two very different learning modes and how it encapsulates (“chunks”) information. We’ll also cover illusions of learning, memory techniques, dealing with procrastination, and best practices shown by research to be most effective in helping you master tough subjects.  </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 animate-box">
                        <div class="Trainings">
                            <div class="Trainings-img" style="background-image: url(../../Public/images/Trainings-4.jpg);">

                            </div>
                            <div class="desc">
                                <h3>Speak English Professionally</h3>
                                <p>You will demonstrate  culturally appropriate body language and tone. As you work through the course, you will complete self- and peer-evaluations. Through a combination of lectures, comprehension and vocabulary quizzes, practice and performance, you’ll gain the skills and confidence to communicate well in English.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 animate-box">
                        <div class="Trainings">
                            <div class="Trainings-img" style="background-image: url(../../Public/images/Trainings-5.jpg);">

                            </div>
                            <div class="desc">
                                <h3>Immunology Specialization</h3>
                                <p>This specialization is designed to equip students with the basic concepts and vocabulary of immunology. The goal is to provide students from different backgrounds with a fundamental understanding of immunology and the ability to appreciate and analyze new developments in immunological therapies designed for the treatment of disease.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 animate-box">
                        <div class="Trainings">
                            <div class="Trainings-img" style="background-image: url(../../wwwroot/Public/images/blog-5.jpg);">

                            </div>
                            <div class="desc">
                                <h3>Positive Psychology</h3>
                                <p>Learners design and justify small-scale positive interventions to enhance specific aspects of their personal wellbeing based on the skills acquired in each course of the specialization. Personal reflections are implemented provide learners with the skills to impact their personal and professional lives.</p>

                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>

    <div id="colorlib-testimony" class="testimony-img" style="background-image: url(../../Public/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                    <h2>What Are The Trainees Says</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="row animate-box">
                        <div class="owl-carousel1">
                            <div class="item">
                                <div class="testimony-slide">
                                    <div class="testimony-wrap">
                                        <blockquote>
                                            <span>Habibullah</span>
                                            <p>For my job interview, when I mentioned that I knew Python, the interviewer was surprised because its one of the least known and taught computer languages here and so it gave me an edge over the others. I was even asked to write some python code. This is why I got the job,</p>
                                        </blockquote>
                                        <div class="figure-img" style="background-image: url(../../Public/images/t1.jpg);"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide">
                                    <div class="testimony-wrap">
                                        <blockquote>
                                            <span>Rabia Alia</span>
                                            <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                        </blockquote>
                                        <div class="figure-img" style="background-image: url(../../Public/images/t2.jpg);"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide">
                                    <div class="testimony-wrap">
                                        <blockquote>
                                            <span>Adam Ross</span>
                                            <p>Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                        </blockquote>
                                        <div class="figure-img" style="background-image: url(../../Public/images/t3.jpg);"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="colorlib-trainers">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                    <h2>Why Universal Skills</h2>
                    <p>We envision a world where anyone, anywhere can transform their life by accessing the world’s best learning experience.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 animate-box">
                    <div class="trainers-entry">
                        <div class="trainer-img" style="background-image: url(../../images/UserMarketingMaterial/company/UniversalSkills-1.jpg)"></div>
                        @*<div class="desc">
                                <h3>Olivia Young</h3>
                                <span>MENTOR</span>
                            </div>*@
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 animate-box">
                    <div class="trainers-entry">
                        <div class="trainer-img" style="background-image: url(../../images/UserMarketingMaterial/company/UniversalSkills-2.jpg)"></div>
                        @*<div class="desc">
                                <h3>Daniel Anderson</h3>
                                <span>MENTOR</span>
                            </div>*@
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 animate-box">
                    <div class="trainers-entry">
                        <div class="trainer-img" style="background-image: url(../../images/UserMarketingMaterial/company/UniversalSkills-3.jpg)"></div>
                        @*<div class="desc">
                                <h3>David Brook</h3>
                                <span>MENTOR</span>
                            </div>*@
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 animate-box">
                    <div class="trainers-entry">
                        <div class="trainer-img" style="background-image: url(../../images/UserMarketingMaterial/company/UniversalSkills-4.jpg)"></div>
                        @*<div class="desc">
                                <h3>Brigeth Smith</h3>
                                <span>MENTOR</span>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
