@model EasySystemAPI.Models.FeeList
@{
    ViewData["Title"] = "PayFee";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    var jazz = TempData["JazzCash"] as EasySystemAPI.Models.JazzCash;
}

@*https://sandbox.jazzcash.com.pk/CustomerPortal/transactionmanagement/merchantform/
    https://payments.jazzcash.com.pk/CustomerPortal/transactionmanagement/merchantform*@

<script src="~/js/jquery-3.3.1.min.js"></script>

<script>
    function submitForm() {

        var procemessage = "Please wait...";
        $("#btnPay").html(procemessage);

        var feeValue = {
                flTraineeName: $("#Yname").val(),
                flTraineeSurName: $("#Sname").val(),
                flTraineeEmail: $("#email").val(),
                flTraineeContact: $("#phone").val(),
                flTraineeComment: $("#comment").val(),
                tiId: $("#tiId").val(),
            };

            var jsonData = JSON.stringify(feeValue);
            $.ajax({
                url: '@Url.Action("PayFee", "Home")',
                data: { json: jsonData },
                datatype: "text",
                type: "POST",
                //contentType: "application/json; charset=utf-8",
                success: function (result) {
                    CalculateHash();
                    var IntegritySalt = document.getElementById("salt").innerText;
                    var hash = CryptoJS.HmacSHA256(document.getElementById("hashValuesString").value, IntegritySalt);
                    document.getElementsByName("pp_SecureHash")[0].value = hash + '';

                    console.log('string: ' + hashString);
                    console.log('hash: ' + document.getElementsByName("pp_SecureHash")[0].value);

                    document.jsform.submit();
                }
            });
    }

</script>


<script src="https://sandbox.jazzcash.com.pk/Sandbox/Scripts/hmac-sha256.js"></script>

<div class="container" margin-bottom:20px">
    <div class="row">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden>&times;</span></button>
                Oh snap! @TempData["Error"].
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden>&times;</span></button>
                Success! @TempData["Success"].
            </div>
        }
        
        <div class="col-md-12">
            <h2>Pay Here</h2>

            <div class="jsformWrapper">
                <form name="jsform" method="post" action="https://payments.jazzcash.com.pk/CustomerPortal/transactionmanagement/merchantform">

                    <input type="hidden" name="UsrId" value="@jazz.UsrId">
                    <input type="hidden" name="pp_CustomerID" value="@jazz.pp_CustomerID">
                    <input type="hidden" name="pp_Version" value="@jazz.pp_Version">
                    <input type="hidden" name="pp_TxnType" id="pType" value="">
                    <input type="hidden" name="pp_Language" value="@jazz.pp_Language">
                    <input type="hidden" name="pp_MerchantID" value="@jazz.pp_MerchantID">
                    <input type="hidden" name="pp_SubMerchantID" value="">
                    <input type="hidden" name="pp_Password" value="@jazz.pp_Password">
                    <input type="hidden" name="pp_BankID" value="@jazz.pp_BankID">
                    <input type="hidden" name="pp_ProductID" value="@jazz.pp_ProductID">
                    <input type="hidden" name="pp_TxnRefNo" id="pp_TxnRefNo" value="@jazz.pp_TxnRefNo">
                    <input type="hidden" name="pp_Amount" id="pp_Amount" value="@jazz.pp_Amount">
                    <input type="hidden" name="pp_TxnCurrency" value="@jazz.pp_TxnCurrency">
                    <input type="hidden" name="pp_TxnDateTime" value="@jazz.pp_TxnDateTime">
                    <input type="hidden" name="pp_BillReference" value="@jazz.pp_BillReference">
                    <input type="hidden" name="pp_Description" value="@jazz.pp_Description">
                    <input type="hidden" name="pp_TxnExpiryDateTime" value="@jazz.pp_TxnExpiryDateTime">
                    <input type="hidden" name="pp_ReturnURL" value="@jazz.pp_ReturnURL">
                    <input type="hidden" name="pp_SecureHash" value="">
                    <input type="hidden" name="ppmpf_1" value="@jazz.ppmpf_1">
                    <input type="hidden" name="ppmpf_2" value="@jazz.ppmpf_2">
                    <input type="hidden" name="ppmpf_3" value="@jazz.ppmpf_3">
                    <input type="hidden" name="ppmpf_4" value="@jazz.ppmpf_4">
                    <input type="hidden" name="ppmpf_5" value="@jazz.ppmpf_5">



                    <div class="row form-group">
                        <div class="col-md-6">
                            <!-- <label for="fname">First Name</label> -->
                            <input type="text" id="Yname" name="flTraineeName" class="form-control" required placeholder="Your Name">
                        </div>
                        <div class="col-md-6">
                            <!-- <label for="lname">Last Name</label> -->
                            <input type="text" id="Sname" name="flTraineeSurName" class="form-control" required placeholder="Surname">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <!-- <label for="email">Email</label> -->
                            <input type="text" id="email" class="form-control" name="flTraineeEmail" required placeholder="Your email address">
                        </div>
                        <div class="col-md-6">
                            <!-- <label for="email">Email</label> -->
                            <input type="number" id="phone" name="flTraineeContact" class="form-control" required placeholder="Your contact number">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            @*<label for="subject">Select Fee</label>*@
                            @Html.DropDownList("tiId", (SelectList)ViewData["TrainingInfo"], "Join for Free (14 days)", new { required = "required", @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <!-- <label for="email">Email</label> -->
                            <input type="text" id="comment" name="flTraineeComment" class="form-control" placeholder="Comment (if any)">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-10">
                            <input type="checkbox" required id="checkBox">

                            I have read <a href="~/Home/Terms"> terms of service</a> and <a href="~/Home/RefundPolicy"> Refund Policy.</a>
                        </div>
                    </div>
                  
                        <button type="button" class="btn btn-primary" id="btnPay" onclick="submitForm()"> Pay Now</button>
                </form>

                <label id="salt" style="display:none;">@jazz.salt</label>
                <br><br>
                <div class="formFielWrapper" hidden>
                    <label class="">Hash values string: </label>
                    <input type="text" id="hashValuesString" value="">
                    <br><br>
            s    </div>

            </div>
        </div>

    </div>
</div>

<script>
    function CalculateHash() {
        var IntegritySalt = document.getElementById("salt").innerText;
        hashString = '';

        hashString += IntegritySalt + '&';

        if (document.getElementsByName("pp_Amount")[0].value != '') {
            hashString += document.getElementsByName("pp_Amount")[0].value + '&';
        }
        if (document.getElementsByName("pp_BankID")[0].value != '') {
            hashString += document.getElementsByName("pp_BankID")[0].value + '&';
        }
        if (document.getElementsByName("pp_BillReference")[0].value != '') {
            hashString += document.getElementsByName("pp_BillReference")[0].value + '&';
        }
        if (document.getElementsByName("pp_Description")[0].value != '') {
            hashString += document.getElementsByName("pp_Description")[0].value + '&';
        }
        if (document.getElementsByName("pp_Language")[0].value != '') {
            hashString += document.getElementsByName("pp_Language")[0].value + '&';
        }
        if (document.getElementsByName("pp_MerchantID")[0].value != '') {
            hashString += document.getElementsByName("pp_MerchantID")[0].value + '&';
        }
        if (document.getElementsByName("pp_Password")[0].value != '') {
            hashString += document.getElementsByName("pp_Password")[0].value + '&';
        }
        if (document.getElementsByName("pp_ProductID")[0].value != '') {
            hashString += document.getElementsByName("pp_ProductID")[0].value + '&';
        }
        if (document.getElementsByName("pp_ReturnURL")[0].value != '') {
            hashString += document.getElementsByName("pp_ReturnURL")[0].value + '&';
        }
        if (document.getElementsByName("pp_SubMerchantID")[0].value != '') {
            hashString += document.getElementsByName("pp_SubMerchantID")[0].value + '&';
        }
        if (document.getElementsByName("pp_TxnCurrency")[0].value != '') {
            hashString += document.getElementsByName("pp_TxnCurrency")[0].value + '&';
        }
        if (document.getElementsByName("pp_TxnDateTime")[0].value != '') {
            hashString += document.getElementsByName("pp_TxnDateTime")[0].value + '&';
        }
        if (document.getElementsByName("pp_TxnExpiryDateTime")[0].value != '') {
            hashString += document.getElementsByName("pp_TxnExpiryDateTime")[0].value + '&';
        }
        if (document.getElementsByName("pp_TxnRefNo")[0].value != '') {
            hashString += document.getElementsByName("pp_TxnRefNo")[0].value + '&';
        }

        if (document.getElementsByName("pp_TxnType")[0].value != '') {
            hashString += document.getElementsByName("pp_TxnType")[0].value + '&';
        }
        if (document.getElementsByName("pp_Version")[0].value != '') {
            hashString += document.getElementsByName("pp_Version")[0].value + '&';
        }
        if (document.getElementsByName("ppmpf_1")[0].value != '') {
            hashString += document.getElementsByName("ppmpf_1")[0].value + '&';
        }
        if (document.getElementsByName("ppmpf_2")[0].value != '') {
            hashString += document.getElementsByName("ppmpf_2")[0].value + '&';
        }
        if (document.getElementsByName("ppmpf_3")[0].value != '') {
            hashString += document.getElementsByName("ppmpf_3")[0].value + '&';
        }
        if (document.getElementsByName("ppmpf_4")[0].value != '') {
            hashString += document.getElementsByName("ppmpf_4")[0].value + '&';
        }
        if (document.getElementsByName("ppmpf_5")[0].value != '') {
            hashString += document.getElementsByName("ppmpf_5")[0].value + '&';
        }

        hashString = hashString.slice(0, -1);
        document.getElementById("hashValuesString").value = hashString;
    }

</script>


<script>
    $(function () {
        $("#tiId").change(function () {
            var Id = $(this).val();


            if (Id !== null && Id !== "") {
                //var procemessage = "Please wait...";
                //$("#RefName").val(procemessage);
                //$("#RefName").hide();
                //$("#loader").show();
                $.ajax({
                    type: 'GET',
                    url: 'http://fabricaerp-001-site3.gtempurl.com/api/Public/GetAmount?id=' + Id,
                    //url: 'http://sajawal-001-site3.ctempurl.com/api/Public/GetAmount?id=' + Id,
                    //url: 'http://localhost:54383/api/Public/GetAmount?id=' + Id,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        if (data !== "") {
                            var amount = data.tiPrice * 100;
                            $("#pp_Amount").val(amount);
                        } else {
                            alert('No record found');
                        }
                    },
                    error: function (error) {
                        console.log(error);
                        //$("#RefName").show();
                        //$("#loader").hide();
                        //$("#RefName").val('');
                        //alert('No record found.');
                    }
                });
            }
        });
    });
</script>

