
@{
    ViewData["Title"] = "Trainings";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<div class="container" margin-bottom:20px">
    <div class="row">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Oh snap! @TempData["Error"].
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Success! @TempData["Success"].
            </div>
        }
        <div class="col-md-12">
            <h2>TRAININGS / SERVICES PRICING</h2>
            <p>Build skills with trainings online from world-class trainers. It's time to transform your talent. We’ve got the solution: world-class training and development programs developed by top trainers. All on Universal Skills.</p>
            <div class="col-md-12">
                <div class="row">
                    @if (TempData["List"] != null)
                    {
                        foreach (var i in (List<EasySystemAPI.Models.TrainingInfo>)TempData["List"])
                        {
                            <div class="col-md-6 animate-box">
                                <h3>
                                    <a asp-controller="Home" asp-action="TrainingDetail" asp-route-id="@i.tiId">

                                        @i.tiName
                                        @if (@i.tiPrice != 0)
                                        {
                                            @i.tiPrice
                                        }
                                        @if (@i.tiPriceDuration != "null")
                                        {
                                            @i.tiPriceDuration
                                        }


                                    </a>
                                </h3>

                                <div class="Trainings">
                                    <div class="Trainings-img" style="background-image: url(../../images/6e3b7302-6b97-4ee7-83ee-a803d4add7fa_Mine.jpeg);"></div>
                                    <div class="desc">
                                        <p>  @Html.Raw(i.tiDetail)</p>

                                    </div>
                                </div>

                                <p>
                                  
                                </p>

                            </div>
                        }
                    }

                </div>

            </div>

        </div>

    </div>
</div>
