@model EasySystem.Models.Blog
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var detail = TempData["BlogDetail"] as EasySystem.Models.Blog;
    ViewData["Title"] = Html.Raw(@detail.blogTitle);
    ViewBag.Title2 = @detail.blogDescription;
    ViewBag.Image = "~/images/"+@detail.blogTitleImage+"";
}
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var ID = @HttpContextAccessor.HttpContext.Session.GetInt32("ID");
}

<div class="main-content">
    <div class="panel-content">
        <div class="main-title-sec">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="heading-profile">
                        <h2>
                            @if (ID != null)
                            {
                                <a asp-controller="Blogs" asp-action="DeleteBlog" asp-route-id="@detail.blogId" class="btn btn-primary" style="float: right; background-color:#1b3767; " title="Delete Blog"><i class="fa fa-trash-o"></i></a>

                                <a asp-controller="Blogs" asp-action="EditBlog" asp-route-id="@detail.blogId" class="btn btn-primary" style="float: right; background-color:#1b3767; margin-right:10px;" title="Edit Blog"><i class="fa fa-edit"></i></a>

                                <a asp-controller="Blogs" asp-action="Index" class="btn btn-primary" style="float: right; background-color:#1b3767; margin-right:10px;" title="Go back"><i class="fa fa-backward"></i></a>
                            }
                            else
                            {
                                @*<a asp-controller="Blogs" asp-action="Index" class="btn btn-primary" style="float: right; background-color:#1b3767; margin-right:10px;" title="Go back"><i class="fa fa-backward"></i></a>*@
                            }

                        </h2>
                    </div>
                </div>

            </div>
        </div>

        <div class="main-content-area">
            <div class="row">

                <div class="col-md-12">
                    <div class="blog-sec">
                        <div class="row">


                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="blog-post">
                                    @if (detail.blogTitleImage != null)
                                    {
                                        <div class="blog-post-thumb"> <img src="~/images/@detail.blogTitleImage" alt="" style="height: 300px !important" /> </div>
                                    }
                                    else
                                    {
                                        <div class="blog-post-thumb"> <img src="~/images/admin.jpg" alt=""  style="height: 300px !important"/> </div>
                                    }
                                    <div class="blog-post-info">
                                        <h3>@detail.blogTitle</h3>
                                        <br />
                                        <p><i class="fa fa-calendars"></i> @detail.createdDate.ToLongDateString() Author: @detail.usrName</p>
                                        <br />
                                        <p>@Html.Raw(@detail.blogDescription)</p>
                                    </div>
                                </div>
                                @*<span><a asp-controller="Blogs" asp-action="Index"><i class="fa fa-mail-reply"></i> Go Back</a></span>*@

                                <!-- Blog Post -->
                            </div>



                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Panel Content -->
</div>




