@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var ID = @HttpContextAccessor.HttpContext.Session.GetInt32("ID");
}

<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144425395-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-144425395-5');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Universal Skills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Enhance skills in you and make your life better. Join for Free." />
    <meta name="keywords" content="LE SKILLS ONLINE LEARNING" />
    <meta name="author" content="Sajawal Javaid" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Universal Skills" />
    <meta property="og:image" content="../../images/logo.png" />
    <meta property="og:url" content="https://www.universalskill.co" />
    <meta property="og:site_name" content="Universal Skills" />
    <meta property="og:description" content="Enhance skills in you and make your life better. Join for Free." />
    <meta name="twitter:title" content="@ViewData["Title"]." />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="https://www.universalskill.co" />
    <meta name="twitter:card" content="" />
    <link rel="shortcut icon" href="~/images/logo.png" type="image/x-icon">

    <link href="~/Public/css/animate.css" rel="stylesheet" />
    <link href="~/Public/css/icomoon.css" rel="stylesheet" />
    <link href="~/Public/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Public/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Public/css/flexslider.css" rel="stylesheet" />
    <link href="~/Public/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Public/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Public/css/flaticon.css" rel="stylesheet" />
    <link href="~/Public/css/style.css" rel="stylesheet" />
    <link href="~/Public/css/autocomplete.css" rel="stylesheet" />
    <link href="~/Public/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Public/css/Search.css" rel="stylesheet" />
</head>
<body>
    <div class="colorlib-loader"></div>

    <div id="page">

        <nav class="colorlib-nav" role="navigation">
            <div class="upper-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <p style="color: white">Welcome to Cloud Knowledge   <a style="margin-left:250px; color:whitesmoke;" href="http://covid.gov.pk/press-release" target="_blank"> Stay up to date on COVID-19 info </a></p>
                        </div>
                        <div class="col-xs-4 col-md-push-0 text-center">
                            @*<p>
                                <ul class="colorlib-social-icons">
                                    <li><a href="https://www.facebook.com/UniversalSkills.co" target="_blank"><i class="icon-facebook"></i></a></li>
                                    &nbsp;&nbsp;
                                   
                                    <li><a href="https://www.instagram.com/UniversalSkills.co/" target="_blank"><i class="icon-instagram"></i></a></li>
                                </ul>
                            </p>
                            <p class="btn-apply"><a href="~/Users/Login">Login</a></p>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div id="colorlib-logo"><a asp-action="Index" asp-controller="Home"><img src="~/images/Universal-Skills_Logo.png" alt="Universal Skills" /> </a></div>
                        </div>
                        <div class="col-md-3">
                            <form asp-action="Get" asp-controller="Courses">
                                <input type="text" placeholder="search course" name="Course" id="SearchCourse" class="Searchtext form-control" />
                            </form>

                        </div>
                        <div class="col-md-7 text-right menu-1">
                            <ul>

                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Courses", "Index", "" + @EasySystem.EasyAPI.EasySysAPI.URLFriendly("Courses") + "")</li>
                                @*<li>@Html.ActionLink("Pay Fee", "PayFee", "Home")</li>*@
                                <li>@Html.ActionLink("Guidance", "Index", "Guidance")</li>

                                <li>@Html.ActionLink("Blogs", "Index", "Blogs", new { Public = "Active" })</li>


                                @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                                @if (ID == null)
                                {
                                    <li>@Html.ActionLink("LOGIN", "Login", "Users")</li>
                                    <li class="btn-cta"><a href="~/Users/SignUp"><span>Join for Free</span></a></li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("My Portal", "Dashboard", "My")</li>
                                    <li class="btn-cta"><a href="~/Users/Logout"><span>Logout</span></a></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        @RenderBody()

        @if (ID == null)
        {
            <div id="colorlib-subscribe" class="subs-img" style="background-image: url(../../Public/images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                            <h2> Learn with Universal Skills</h2>
                            <h3 class="view-more"><a href="~/Users/SignUp">Join Now for Free </a></h3>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>
    <footer id="colorlib-footer">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-3 colorlib-widget">
                    <h4>About Universal Skills</h4>
                    <p>Build skills with trainings online from world-class trainers. It's time to transform your talent. We’ve got the solution: world-class training and development programs developed by top trainers. All on Universal Skills. </p>

                </div>
                <div class="col-md-3 colorlib-widget">
                    <h4>Quick Links</h4>
                    <p>
                        <ul class="colorlib-footer-links">

                            <li><a href="~/Home/Index"><i class="icon-check"></i> Home</a></li>
                            <li><a href="~/Home/About"><i class="icon-check"></i> About</a></li>
                            <li><a href="~/Home/Trainings"><i class="icon-check"></i> Trainings</a></li>
                            <li><a href="~/Guidance/Index"><i class="icon-check"></i> Guidance</a></li>

                        </ul>
                    </p>
                </div>

                <div class="col-md-3 colorlib-widget">
                    <h4>Useful Links</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li>@Html.ActionLink("Blogs", "Index", "Blogs")</li>
                            <li><a href="~/Home/Terms">Terms </a></li>
                            <li><a href="~/Home/RefundPolicy">Refund Policy</a></li>
                            <li><a href="~/Home/PrivacyPolicy">Privacy Policy</a></li>
                            <li><a href="~/Verify/">Certificate Verification</a></li>
                        </ul>
                    </p>
                    @*<h4>Socials</h4>
                        <p>
                            <ul class="colorlib-footer-links">
                                <li><a href="https://www.facebook.com/LESkillsOfficial/"><i class="icon-facebook"></i> Facebook </a></li>
                                <li><a href="https://www.youtube.com/channel/UCfbH8aW1Q_X8GMZKTuG1biA"><i class="icon-youtube"> </i> YouTube</a></li>
                                <li><a href="https://www.instagram.com/LESkillsOfficial/"><i class="icon-instagram"></i> Instagram</a></li>
                            </ul>
                        </p>*@
                </div>

                <div class="col-md-3 colorlib-widget">
                    <h4>Contact Info</h4>
                    <ul class="colorlib-footer-links">
                        <li>
                            <i class="icon-location4"></i> UNIVERSAL SKILLS LTD
                            <br />2 Frederick Street,
                            London <br />
                            WC1X 0ND
                        </li>
                        <li>
                            <i class="icon-location4"></i> Lahore, Pakistan

                        </li>
                        <li><a href="mailto:info@universalSkills.co"><i class="icon-envelop"></i> info@universalSkills.co</a></li>
                        <li><a href="http://universalSkills.co"><i class="icon-sina-weibo"></i> universalSkills.co</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">
                                &copy;
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | UK: Company # 1261466 | PK: Company # 0150163
                            </small>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/Public/js/jquery.min.js"></script>
    <script src="~/Public/js/bootstrap.min.js"></script>
    <script src="~/Public/js/jquery.waypoints.min.js"></script>
    <script src="~/Public/js/jquery.stellar.min.js"></script>
    <script src="~/Public/js/jquery.flexslider-min.js"></script>
    <script src="~/Public/js/owl.carousel.min.js"></script>
    <script src="~/Public/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Public/js/magnific-popup-options.js"></script>
    <script src="~/Public/js/jquery.countTo.js"></script>
    <script src="~/Public/js/main.js"></script>
    <script src="~/Public/js/modernizr-2.6.2.min.js"></script>
    <script src="~/Public/js/jquery-ui.js"></script>

    <script>

        $("#SearchCourse").autocomplete({
        source: '@Url.Action("SearchCourse", "Courses")'
    });
    </script>

</body>
</html>
