@model EasySystem.Models.UserHelpingMaterial

@{
    ViewData["Title"] = "Edit User Helping Material";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="main-content">
        <div class="panel-content">
            <div class="main-title-sec">
                <div class="row">
                    <div class="col-md-12 column">
                        <div class="heading-profile">
                            <h2>Update UserHelping Material</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content-area">
                <div class="row">
                    <div class="col-md-12">
                        <div id="Notifocation">

                            @if (TempData["Info"] != null)
                            {
                                <div role="alert" class="alert alert-info">
                                    <strong><i class="fa fa-info-circle"></i></strong>
                                    @TempData["Info"].
                                </div>
                            }
                            @if (TempData["Success"] != null)
                            {
                                <div role="alert" class="alert alert-success">
                                    <strong><i class="fa fa-thumbs-o-up"></i></strong>
                                    @TempData["Success"].
                                </div>
                            }
                            @if (TempData["Error"] != null)
                            {
                                <div role="alert" class="alert alert-danger">
                                    <strong><i class="fa fa-thumbs-o-down"></i></strong>
                                    @TempData["Error"].
                                </div>
                            }

                        </div>
                        <div class="row">
                            <div class="widget white with-padding">
                                <form asp-action="EditUserHelpingMaterial" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">Title</label>
                                                <input type="text" asp-for="umsTitle" class="form-control" required>
                                                <input type="hidden" asp-for="umsId" class="form-control">

                                            </div>
                                        </div>
                                        <div class="col-md-3" hidden>
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">Type</label>
                                                @{
                                                    var list = new List<SelectListItem>();
                                                    list.Add(new SelectListItem { Text = "Image", Value = "image" });
                                                    list.Add(new SelectListItem { Text = "Video", Value = "video" });
                                                }
                                                <select asp-for="umsType" class="form-control" asp-items="@list" required></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">UMS For</label>
                                                @{
                                                    var ufor = new List<SelectListItem>();
                                                    ufor.Add(new SelectListItem { Text = "Male", Value = "Male" });
                                                    ufor.Add(new SelectListItem { Text = "Female", Value = "Female" });
                                                    ufor.Add(new SelectListItem { Text = "Company", Value = "Company" });
                                                    ufor.Add(new SelectListItem { Text = "Personal", Value = "Personal" });
                                                    ufor.Add(new SelectListItem { Text = "All", Value = "All" });

                                                }
                                                <select asp-for="umsFor" class="form-control" asp-items="@ufor"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">Font Name</label>
                                                <input type="text" asp-for="umsFontName" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">Font Color</label>
                                                <input type="text" asp-for="umsFontColour" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">Font Size</label>
                                                <input type="text" asp-for="umsFontSize" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">Font Alignment</label>
                                                <input type="text" asp-for="umsFontAlignment" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">Status</label>
                                                @{
                                                    var status = new List<SelectListItem>();
                                                    status.Add(new SelectListItem { Text = "Active", Value = "true" });
                                                    status.Add(new SelectListItem { Text = "Deactive", Value = "false" });
                                                }
                                                <select asp-for="umsStatus" class="form-control" asp-items="@status" required></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">Updated Image</label>
                                                <input type="file" name="file" class="form-control">
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-info" style="background-color:#1b3767">
                                                    Update
                                                </button>
                                                <a asp-controller="Admin" asp-action="UserHelpingMaterial" class="btn btn-info" style="background-color:#1b3767">Cancel</a>
                                            </div>


                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- Panel Content -->
    </div>


