@model EasySystem.Models.Bank
@{
    ViewData["Title"] = "Update Bank";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int SrNo = 1;
}

<div class="main-content">
    <div class="panel-content">
        <div class="main-title-sec">
            <div class="row">
                <div class="col-md-12 column">
                    <div class="heading-profile">
                        <h2>Update Bank</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-area">
            <div class="row">
                <div class="col-md-12">
                    

                    <div class="row">
                        <div class="widget white with-padding">
                            <div id="Notifocation">

                                @if (TempData["Info"] != null)
                                {
                                    <div role="alert" class="alert alert-info">
                                        <strong><i class="fa fa-info-circle"></i></strong>
                                        @TempData["Info"].
                                    </div>
                                }
                                @if (TempData["Success"] != null)
                                {
                                    <div role="alert" class="alert alert-success">
                                        <strong><i class="fa fa-thumbs-o-up"></i></strong>
                                        @TempData["Success"].
                                    </div>
                                }
                                @if (TempData["Error"] != null)
                                {
                                    <div role="alert" class="alert alert-danger">
                                        <strong><i class="fa fa-thumbs-o-down"></i></strong>
                                        @TempData["Error"].
                                    </div>
                                }

                            </div>
                            <form asp-action="EditBank" method="post">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="exampleInputEmail2">Select Country</label>
                                            @Html.DropDownList("CountryId", (SelectList)ViewData["Country"], "Select Country", new { @class = "form-control", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="exampleInputEmail2">Bank Name</label>
                                            <input type="text" class="form-control" asp-for="BankName" required/>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="exampleInputEmail2">Select Status</label>
                                            @{
                                                var list = new List<SelectListItem>();
                                                list.Add(new SelectListItem { Text = "Active", Value = "true" });
                                                list.Add(new SelectListItem { Text = "DeActive", Value = "false" });

                                            }
                                            <select asp-for="Status" class="form-control" asp-items="@list" required></select>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info" style="background-color:#1b3767">Update</button>
                            </form>
                        </div>
                    </div>
                </div>

              
            </div>
        </div>
    </div>
    <!-- Panel Content -->
</div>

