@model EasySystem.Models.UserSignUpCode
@if (TempData["Number"] != null)
{
    TempData.Keep("Number");
}

@{
    ViewData["Title"] = "Forget_Password_Code";
    ViewBag.Title2 = "Enhance skills in you and make your life better. Join for Free.";
    ViewBag.Image = "~/images/logo.png";
    Layout = "~/Views/Shared/_InitialLayout.cshtml";
}

<div class="acount-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                @if (TempData["Info"] != null)
                {
                    <div role="alert" class="alert alert-info">
                        <strong><i class="fa fa-info-circle"></i></strong>
                        @TempData["Info"].
                    </div>
                }
                @if (TempData["Success"] != null)
                {
                    <div role="alert" class="alert alert-success">
                        <strong><i class="fa fa-thumbs-o-up"></i></strong>
                        @TempData["Success"].
                    </div>
                }
                @if (TempData["Error"] != null)
                {
                    <div role="alert" class="alert alert-danger">
                        <strong><i class="fa fa-thumbs-o-down"></i></strong>
                        @TempData["Error"].
                    </div>
                }
                <div class="contact-sec">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget-title">

                                <h3>Reset Password Code Verification</h3>
                                <span>OTP Sent to <b>@TempData["Number"]</b> expired in 10 minutess</span>
                            </div>
                            <div class="col-md-6">
                                <div class="account-form" style="align-content:center">
                                    <form asp-action="Forget_Password_Code" method="post">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="number" id="vCode" asp-for="uscCode" maxlength="6" class="form-control" pattern="[0-9]{1}" required />
                                                    <input type="hidden" asp-for="usPhone" value="@TempData["Number"]" />
                                                    @if (TempData["MentorCode"] != null)
                                                    {
                                                        <input type="hidden" name="code" value="@TempData["MentorCode"]" />
                                                    }

                                                    @if (TempData["cCode"] != null)
                                                    {
                                                        <input type="hidden" name="cCode" value="@TempData["cCode"]" />
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <button type="submit" class="form-control btn btn-dark">Verify Code <i class="fa fa-flip-vertical"></i></button>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <h2 id="time"></h2>
                                                    <a asp-controller="Users" id="resend" asp-action="ForgetResendCode" asp-route-PhoneNo="@TempData["Number"]" title="If you don't receive the code in 2 minutes please click this button." class="btn btn-outline-dark btn-embossed form-control" style="display:none"> Resend Code <i class="fa fa-send-o"></i></a>
                                                </div>

                                            </div>
                                        </div>


                                    </form>


                                </div>
                            </div>
                            <div class="widget-title">
                                <span><a asp-controller="Users" asp-action="Forget_Password"><i class="fa fa-mail-reply"></i> Go Back</a></span>
                            </div>
                            <!-- Widget title -->
                            @*<div class="account-form">
                                    <form asp-action="Forget_Password_Code">
                                        <div id="form">
                                            <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" required />
                                            <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" required />
                                            <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" required />
                                            <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" required />
                                            <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" required />
                                            <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" required />
                                            <input type="hidden" asp-for="uscCode" value="" id="Code" pattern="[0-9]{1}" required />
                                            <input type="hidden" asp-for="usPhone" value="@TempData[" Number"]" />

                                            <button class="btn btn-dark btn-embossed">Verify</button>
                                            <a asp-controller="Users" id="resend" asp-action="ForgetResendCode" asp-route-PhoneNo="@TempData[" Number"]" title="if you don't received the code in 2 minutes pleae click this button." class="btn btn-outline-dark btn-embossed form-control" style="display:none"> Resend Code <i class="fa fa-send-o"></i></a>
                                        </div>
                                    </form>


                                </div>*@


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-2.1.3.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#time").hide();
            $("#resend").show();
        }, 30000);
    });
</script>
<script>

    $(document).ready(function () {
        $('#vCode').focus();
    });
</script>

<script>
    var start = Date.now(),
        diff,
        minutes,
        seconds;
    function startTimer(duration) {
        function timer() {
            // get the number of seconds that have elapsed since
            // startTimer() was called
            diff = duration - (((Date.now() - start) / 1000) | 0);

            // does the same job as parseInt truncates the float
            minutes = (diff / 60) | 0;
            seconds = (diff % 60) | 0;

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            $("#time").text(minutes + ":" + seconds);
            $("#timehidden").val(minutes + ":" + seconds);
            if (diff <= 0) {
                // add one second so that the count down starts at the full duration
                // example 05:00 not 04:59
                start = Date.now() + 1000;
            }
        };
        // we don't want to wait a full second before the timer starts
        timer();
        setInterval(timer, 1000);
    }

    window.onload = function () {
        var fiveMinutes = 60 * 0 + 30;
        startTimer(fiveMinutes);
        $("#time").text();
    };
</script>


<script>

    //$(function () {
    //    'use strict';

    //    var body = $('body');
    //    function goToNextInput(e) {
    //        var key = e.which,
    //            t = $(e.target),
    //            sib = t.next('input');

    //        if (key != 9 && (key < 48 || key > 57)) {
    //            e.preventDefault();
    //            return false;
    //        }

    //        if (key === 9) {
    //            return true;
    //        }

    //        if (!sib || !sib.length) {
    //            sib = body.find('input').eq(0);
    //        }
    //        sib.select().focus();
    //    }

    //    function onKeyDown(e) {
    //        var key = e.which;

    //        if (key === 9 || (key >= 48 && key <= 57)) {


    //            var num = e.key;
    //            var CodeValue = $("#Code").val();
    //            var Code = CodeValue + num;
    //            $("#Code").val(Code);
    //            return true;
    //        }

    //        e.preventDefault();
    //        return false;
    //    }

    //    function onFocus(e) {
    //        $(e.target).select();
    //    }

    //    body.on('keyup', 'input', goToNextInput);
    //    body.on('keydown', 'input', onKeyDown);
    //    body.on('click', 'input', onFocus);


    //    //filling Code Input

    //})
</script>

